{% extends 'layouts/default.html' %}
{% load custom_tags %}

{% block title %}
    Главная
{% endblock title %}

{% block content %}
    <h1>Все публикации</h1>
    <section class="grid">
        {% if perms.posts.add_post %}
        <a href="{% url 'posts:news_create' %}" role="button">Create news</a>
        <a href="{% url 'posts:article_create' %}" role="button">Create article</a>
        {% endif %}
        <a href="{% url 'posts:posts_search' %}" role="button">Search post</a>
    </section>
    {% if posts %}
        {% for post in posts %}
            <article>
                <header>
                    {% if post.kind == "AR" %}
                        <a href="{% url 'posts:article_detail'  post.id %}"><h2>{{post.title}}</h2></a>
                    {% elif post.kind == "NW" %}
                        <a href="{% url 'posts:news_detail'  post.id %}"><h2>{{post.title}}</h2></a>
                    {% endif %}
                </header>
                <p>{{post.text|truncatechars:25}}</p>
                <footer>
                <small>{{post.created_at}}</small>
                </footer>
            </article>
        {% endfor %}
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}

    <section>
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
   {% endif %}
    </section>
{% endblock content %}