{% extends 'layouts/default.html' %}
{% load custom_tags %}

{% block title %}
    Главная
{% endblock title %}

{% block content %}
    <h1>Все статьи</h1>
    {% if perms.posts.add_post %}
    <button><a href="{% url 'posts:post_create' %}"><h2>Create post</h2></a></button>
    {% endif %}
    <button><a href="{% url 'posts:posts_search' %}"><h2>Search post</h2></a></button>
    {% if posts %}
        {% for post in posts %}
            <a href="{% url 'posts:post_detail'  post.id %}"><h2>{{post.title}}</h2></a>
            <p>{{post.text|truncatechars:25}}</p>
            <p>{{post.created_at}}</p>
        {% endfor %}
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
   {% endif %}

{% endblock content %}