<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"
    />
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
{% load cache %}
{% cache 300 header %}
<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'posts:posts_list' %}" role="button">Home</a></li>
                <li><a href="/accounts/login/" role="button">Login</a></li>
                <li><a href="/accounts/signup/" role="button">Sign Up</a></li>
                <li><a href="/accounts/logout/" role="button">Logout</a></li>
                <li><a href="{% url 'posts:subscriptions' %}" role="button">Subscriptions</a></li>
            </ul>
        </nav>
    </div>
</header>
{% endcache %}
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>