<!DOCTYPE html>
<html>
<head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<header>
    <button><a href="{% url 'posts:posts_list' %}"><h5>Home</h5></a></button>
    <button><a href="/accounts/login/"><h5>Login</h5></a></button>
    <button><a href="/accounts/signup/"><h5>sign Up</h5></a></button>
    <button><a href="/accounts/logout/"><h5>Logout</h5></a></button>
    <button><a href="{% url 'posts:subscriptions' %}"><h5>Subscriptions</h5></a></button>
</header>
        {% block content %}
        {% endblock %}
</body>
</html>